.dialog {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.dialog__messages {
  background-color: white;
  border: 1px solid rgb(75, 186, 194);
  max-height: 300px;
  max-width: 70%;
  overflow: scroll;
}
